header {
    color: black;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.18px;
    margin: 92px 24px auto 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.header__links-list{
    display: flex;
    flex-direction: row;
    list-style-type: circle;
    letter-spacing: 0.18px;
    gap: 31px;

    
}

.header__menu{
    display: flex;
    flex-direction: row;
    text-underline-offset: 4px;
    margin-left: 27px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: underline;
}

.header__link_active{
    text-decoration: none;
}

.header__logo {
    position: relative;
    margin-left: 36px;
    margin-right: auto;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    display: block;
}

.header__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-underline-offset: 5px;
    margin-right: 59px;
    line-height: 24.3px;
    letter-spacing: 0.18px;
}
    /* все элементы main в колонну в центру */
.block-position{
    display: flex;
    flex-direction: column;
    align-items: center
}
    /* все элементы main в колонну в центру */
.cover {
    width: 100%;
    margin-top: 96px;
    min-height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: 0.6;
    background-color: black;
    
}

.cover-title {
    margin-top: 7px;
    z-index: 2;
    display: block;
    position: relative;
    margin-top: 172px;
    padding-left: 50px;
    padding-right: 50px;
    font-style: normal;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #fff;

}

.letter-spacing-extended {
    margin-left: -23px;
}

.no-letter-spacing-extended {
    margin: -28px;
}

.aligned-text{
    display: block;
}

.aligned-text_center{
    margin-left: -28px;
    text-align: center;
    margin-top: 29px;
}

.aligned-text_right{
    text-align: right;
    margin-top: 20px;
}

.cover__description {
    align-items: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    padding-bottom: 51px;
}

.cover__description-text {
    z-index: 2;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-left: 80px;
}

.bet-button {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
    z-index: 2;
    margin-right: 50px;
}

.lots {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

.lots__heading {
    margin-left: 40px;
    margin-top: 179px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    list-style-type: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    height: 100%;
}

.card__title {
    z-index: 1;
    color: #FFF;
    width: 254px;
    margin-top: 51px;
    text-transform: uppercase;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.card__text {
    z-index: 1;
    color: #FFF;
    display: block;
    width: 254px;
    margin-bottom: 48px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.card-link {
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    margin: 30px auto 2px 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.about {
    margin-top: 146px;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
}

.about__logo {
    margin-left: 47px;
    margin-top: 35px;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about_text-container {
    display: inline-flex;
    padding-top: 3px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 100px;
}

.about__text {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 24px;
}

.about__column h2 {
    margin-left: 72px;
    margin-top: 136px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.text1 {
    letter-spacing: 0.4px;
}

.text2 {
    letter-spacing: -0.2px;
}

.text3 {
    letter-spacing: 2.6px;
}

.footer {
    margin-left: 50px;
    width: 1000px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 24px;
}

.footer-adress {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-underline-offset: 4px;
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}